.cm-edit-toolbar {
	background: var(--bars_bg);
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--bars_bg);
	z-index: 1090;
}
.cm-edit-toolbar {
	-moz-transition: opacity 0.1s ease-in-out 0.1s,
	margin 0.1s ease-in-out 0.1s;
	-webkit-transition: opacity 0.1s ease-in-out 0.1s,
	margin 0.1s ease-in-out 0.1s;
	-o-transition: opacity 0.1s ease-in-out 0.1s,
	margin 0.1s ease-in-out 0.1s;
	transition: opacity 0.1s ease-in-out 0.1s,
	margin 0.1s ease-in-out 0.1s;
	/* margin-bottom: -100%; */
	opacity:0
}
.cm-edit-toolbar.visible{
	-moz-transition: opacity 0.1s ease-in-out 0.1s,
		margin 0.1s ease-in-out 0.1s;
	-webkit-transition: opacity 0.1s ease-in-out 0.1s,
		margin 0.1s ease-in-out 0.1s;
	-o-transition: opacity 0.1s ease-in-out 0.1s,
		margin 0.1s ease-in-out 0.1s;
	transition: opacity 0.1s ease-in-out 0.1s,
		margin 0.1s ease-in-out 0.1s;
	margin: 0;
	opacity:1
}
.cm-edit-toolbar .cm-edit-toolbar-form {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}